.note-main__title-input:focus,
.note-main__text-input:focus{
    outline: 1px solid var(--color-border);
}
.note-main__title-input,
.note-main__text-input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}
.note-main__text-input{
    height: 64vh;
}