<div class="wrapper">
  <header class="header">
    <div class="header-logo">
      <img src="{{ 'assets/logo.png' }}" alt="" />
    </div>
    <div class="menu" (click)="openCloseMenu(menu)">
      <img src="{{ menu ? 'assets/icon-close.png' : 'assets/icon-menu.png'}}" alt="">
    </div>
  </header>
  <div class="main-wrapper">
    <aside class="sidebar" [ngClass]="{sidebar__open: menu}">
      <custom-button
        [btnText]="btnTextAdd"
        (click)="addNote()"
        class="sidebar__btn"
      ></custom-button>
      <div class="sidebar-search">
        <input
          type="text"
          class="sidebar-search__input"
          (keyup)="search()"
          [(ngModel)]="searchText"
          placeholder="Поиск..."
        />
      </div>
      <span>Сортировать по дате:</span>
      <select
        class="sisedar-select"
        id="sort"
        name="sort"
        [(ngModel)]="sort"
        (change)="onChangeSortSelect()"
      >
        <option value="ASC">новые</option>
        <option value="DESC">старые</option>
      </select>
      <div class="list-notes">
        <div
          class="item-note"
          *ngFor="let note of notes"
          (click)="selectNote(note)"
          [ngClass]="{active: selectedNote ? note.id === selectedNote.id : false}"
          id="{{note.id}}"
        >
          <h4>{{ note.title }}</h4>
          {{ note.text }}
          <img class="item-note__img" (click)="deleteNote(note.id)" src="{{ 'assets/icon-delete.png' }}" alt="">
        </div>
      </div>
    </aside>
    <main class="main">
      @if(notes.length === 0){ @if(searchText){
      <h2 class="main__title">У вас нет заметок c таким названием</h2>
      } @else {
      <h2 class="main__title">У вас пока ничего нет, создайте в меню свою первую заметку!</h2>
      } } @else if(!selectedNote){
      <h2 class="main__title">Выберите в меню заметку для просмотра или редактирования!</h2>
      } @else{
      <div class="note-header">
        <custom-button
          class="note-header__btn"
          [btnText]="btnTextEdit"
          (click)="editNote()"
        ></custom-button>
        <custom-button
          class="note-header__btn"
          [btnText]="btnTextDelete"
          (click)="deleteNote(selectedNote.id)"
        ></custom-button>
      </div>
      <div class="note-main">
        @if(mode === 'view'){
        <h2 class="note-main__title">{{ selectedNote.title }}</h2>
        <p class="note-main__text">{{ selectedNote.text }}</p>
        } @else {
        <div>
          <input
            type="text"
            class="note-main__title-input"
            value="{{ selectedNote.title }}"
            [(ngModel)]="selectedNote.title"
          />
        </div>
        <textarea
          name="note"
          class="note-main__text-input"
          id="note"
          value="{{ selectedNote.text }}"
          [(ngModel)]="selectedNote.text"
        ></textarea>
        }
      </div>
      @if(mode !== 'view'){
      <div class="note-footer">
        <custom-button
          class="note-footer__btn"
          [btnText]="btnTextSave"
          (click)="saveNote()"
        ></custom-button>
      </div>
      } }
    </main>
  </div>
</div>
