<div class="wrapper">
  <header>
    <h1>NOTEBOOK</h1>
  </header>
  <div class="main-wrapper">
    <aside class="sidebar">
      <custom-button [btnText]="btnTextAdd" (click)="addNote()" class="sidebar__btn"></custom-button>
      <div>
        <input type="text" class="search" (keyup)="search()" [(ngModel)]="searchText" placeholder="Поиск..." />
      </div>
      <span>Сортировать по дате</span>
      <select class="form-control" id="sort" name="sort" [(ngModel)]="sort" (change)="onChange()">
        <option value="ASC">новые</option>
        <option value="DESC">старые</option>
      </select>
      <div class="note" *ngFor="let note of notes" (click)="selectNote(note)">
        <h4>{{note.title}}</h4>
        <span>{{note.text}}</span>
      </div>
    </aside>
    <main class="main">
      @if(notes.length === 0){
        @if(searchText){
          <h2>У вас нет заметок c таким названием</h2>
        } @else {
          <h2>У вас пока нет заметок</h2>
        }
      } @else if(!selectedNote){
        <h2>Выберите заметку для просмотра или редактирования</h2>
      } @else{
        <div class="note-header">
          <custom-button class="note-header__btn" [btnText]="btnTextEdit" (click)="editNote()"></custom-button>
          <custom-button class="note-header__btn" [btnText]="btnTextDelete" (click)="deleteNote()"></custom-button>
        </div>
        <div class="note-main">
          @if(mode === 'view'){
            <h2 class="note-main__title">{{selectedNote.title}}</h2>
            <p>{{selectedNote.text}}</p>
          } @else {
            <div>
              <input type="text" value="{{selectedNote.title}}" [(ngModel)]="selectedNote.title">
            </div>
            <textarea name="note" id="note" value="{{selectedNote.text}}" [(ngModel)]="selectedNote.text"></textarea>
          }
        </div>
        @if(mode !== 'view'){
          <div class="note-footer">
            <custom-button class="note-footer__btn" [btnText]="btnTextSave" (click)="saveNote()"></custom-button>
          </div>
        }
      }
    </main>
  </div>
</div>
